body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    &,
    input {
        &,
        select {
            &,
            textarea {
                font-family: Open Sans, Helvetica, Arial, sans-serif;
                line-height: 1.36;
            }
        }
    }
}
