body {
    margin: 0;
    padding: 0;
    color: #212529;
    font-weight: 400;
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
        'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    line-height: 1.5;
    text-align: left;
    background-color: #e9ecef;
    -webkit-font-smoothing: antialiased;

    &,
    input {
        &,
        select {
            &,
            textarea {
                font-family: Open Sans, Helvetica, Arial, sans-serif;
                line-height: 1.36;
            }
        }
    }
}

a {
    text-decoration: none;
    cursor: pointer;
}

.content_fl {
    float: left;
}

.content_fr {
    float: right;
}
