 {
    body {
        &,
        input {
            &,
            select {
                &,
                textarea {
                    font-family: Open Sans, Helvetica, Arial, sans-serif;
                    line-height: 1.36;
                }
            }
        }
    }
}
