# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ develop,master ]
  pull_request:
    branches: [ develop ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  Gen_build_number:
   runs-on: Ubuntu-20.04
   outputs:
      build_number: ${{ steps.buildnumber.outputs.build_number }}
   steps:
    - name: Generate build number
      id: buildnumber
      uses: einaregilsson/build-number@v3 
      with:
        token: ${{secrets.GIT_FULL_CONTROL_TOKEN}}
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: Ubuntu-20.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Install packages
      - name: Install Packages
        run: yarn install

      # build
      - name: Build
        run: |
          yarn release
      # upload server artifacts
      - name: Archive production server artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist-static
          path: |
            ./dist/publish/server
          retention-days: 2
      # upload static artifacts
      - name: Archive production static artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist-static
          path: |
            ./dist/publish/static
          retention-days: 2
            
      
  # build images
  image:
    needs: Gen_build_number
    runs-on: Ubuntu-20.04
    steps:
      - name: build image
        run: |
          docker -v
          echo ${{ needs.job1.outputs.build_number }}
